<button type="button" class="ui-control icon fa-solid fa-comment-slash" data-action="toggleChat" 
  aria-pressed="false" data-tooltip="{{localize "CRLNGN_UI.ui.toggleChatBox"}}" 
  aria-label="{{localize "CRLNGN_UI.ui.toggleChatBox"}}">
</button>