<button type="button" id="hotbar-collapse-btn"
class="ui-control fa-solid fa-angle-down icon" 
data-action="collapse" data-tooltip="Auto-Hide" 
data-tooltip-direction="RIGHT" 
aria-label="Collapse Hotbar"></button>

{{!-- <button type="button" 
class="ui-control fa-solid fa-folder icon" 
data-action="openDirectory" data-tooltip="Open Macro Directory" 
data-tooltip-direction="RIGHT" 
aria-label="Macro Directory"></button> --}}
