<div id="crlngn-lookup-list" class="{{#if (eq currFolder.id favoritesId)}}favorites{{/if}}" draggable="false">

  <div class="scene-folders-contents">
    <div class="search-container">
      <input type="text" class="input-scene-search"
        autocomplete="off" placeholder="{{localize "CRLNGN_UI.ui.sceneNav.searchPlaceholder"}}"
        onfocus="this.select()" />

      <ol class="search-results">
      </ol>
    </div>
  </div>
</div>

